body, table, td, p  {
	color:#000000;
	font: 10px Verdana, Arial, Sans-Serif;
	line-height: 1.6;
}
img {
	border-style: none;
	border-width: 0px;
}
form {
	margin-top: 0;
	margin-bottom: 0;
}
ul, ol {
	margin-top: 2px;
	margin-bottom: 8px;
}
td, p {
	margin: 10px;
	padding: 3px 10px 3px 10px;
}
th {
	text-align: left;
}
input {
	color:#333366;
	font: 11px Verdana, Arial, Sans-Serif;
}
h1 {
	color:#00796C;
	font: 22px Verdana, Arial, Sans-Serif;
	font-weight: bold;
	margin-top: 0px;
	padding-top: 15px;
	text-decoration:none;
}
h2 {
	color: #333333;
	font: 14px Verdana, Arial, Sans-Serif;
	font-weight: bold;
}
a {
	color: #5811B0;
}
a:visited {
	color:#5811B0;
}
a:hover {
	color:#00796C;
	text-decoration:none;
}
.focus {
	font-weight: bold;
}
.credit {
	color:#999999;
	font-style: italic;
	line-height:1.3;
}
.bt {
	border-top: #5811B0 1px solid;
}
.br {
	border-right: #5811B0 1px solid;
}
.bb {
	border-bottom: #5811B0 1px solid;
}
.cc {
	background-color: #BFD7DA;
}
.fl, .flp {
	float: left;
}
.flp {
	padding-top: 25px;
}
.disclaimer {
	border: dashed 1px red;
	margin-top: 10px;
	padding: 10px;
}
.err {
	background-color: #FFD0D0;
	padding: 10px;
}
