<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Altoro Mutual</display-name>
  <distributable/>
  <error-page>
    <error-code>404</error-code>
    <location>/notfound.jsp</location>
  </error-page>
  <listener>
      <listener-class>com.ibm.security.appscan.altoromutual.listener.StartupListener</listener-class>
   </listener>
  <filter>
    <description>
		</description>
    <display-name>
		AuthFilter</display-name>
    <filter-name>AuthFilter</filter-name>
    <filter-class>com.ibm.security.appscan.altoromutual.filter.AuthFilter</filter-class>
  </filter>
  <filter>
    <description>
		</description>
    <display-name>
		AdminFilter</display-name>
    <filter-name>AdminFilter</filter-name>
    <filter-class>com.ibm.security.appscan.altoromutual.filter.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/bank/*</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/adimn/*</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/account.jsp</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <servlet>
    <servlet-name>AltoroAPI</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>com.ibm.security.appscan.altoromutual.api.AltoroAPI</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		RedirectServlet</display-name>
    <servlet-name>RedirectServlet</servlet-name>
    <servlet-class>
		com.ibm.security.appscan.altoromutual.servlet.RedirectServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>
		com.ibm.security.appscan.altoromutual.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		AccountViewServlet</display-name>
    <servlet-name>AccountViewServlet</servlet-name>
    <servlet-class>
		com.ibm.security.appscan.altoromutual.servlet.AccountViewServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		TransferServlet</display-name>
    <servlet-name>TransferServlet</servlet-name>
    <servlet-class>
		com.ibm.security.appscan.altoromutual.servlet.TransferServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		CCApplyServlet</display-name>
    <servlet-name>CCApplyServlet</servlet-name>
    <servlet-class>
		com.ibm.security.appscan.altoromutual.servlet.CCApplyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		SubscribeServlet</display-name>
    <servlet-name>SubscribeServlet</servlet-name>
    <servlet-class>
		com.ibm.security.appscan.altoromutual.servlet.SubscribeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		FeedbackServlet</display-name>
    <servlet-name>FeedbackServlet</servlet-name>
    <servlet-class>
		com.ibm.security.appscan.altoromutual.servlet.FeedbackServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>
		com.ibm.security.appscan.altoromutual.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>
		com.ibm.security.appscan.altoromutual.servlet.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		SurveyServlet</display-name>
    <servlet-name>SurveyServlet</servlet-name>
    <servlet-class>
		com.ibm.security.appscan.altoromutual.servlet.SurveyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/doLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/logout.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccountViewServlet</servlet-name>
    <url-pattern>/bank/showAccount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TransferServlet</servlet-name>
    <url-pattern>/bank/doTransfer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccountViewServlet</servlet-name>
    <url-pattern>/bank/showTransactions</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CCApplyServlet</servlet-name>
    <url-pattern>/bank/ccApply</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RedirectServlet</servlet-name>
    <url-pattern>/default.aspx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RedirectServlet</servlet-name>
    <url-pattern>/subscribe.aspx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubscribeServlet</servlet-name>
    <url-pattern>/doSubscribe</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FeedbackServlet</servlet-name>
    <url-pattern>/sendFeedback</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/admin/addAccount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/admin/changePassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/admin/addUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/admin/doAdminLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SurveyServlet</servlet-name>
    <url-pattern>/static/doSurvey</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jsp</servlet-name>
    <url-pattern>*.jspf</url-pattern>
    <url-pattern>*.jsp</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>